body {
  background-image: url(..//images/port.jpeg);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  text-decoration-style: wavy;
}
h1.about{
  font-weight: bold;
  font-family: cursive;
  color: aquamarine;
}
image{
  padding: 5px;
  border: 5px;
  float: left;
}
h1 {
  color: turquoise;
}
h2 {
  color: turquoise;
}
